.footer {
	background-color: $blackPearl;
	margin-top: 50px;
	.footer-title {
		color: $white;
	}
	.links {
		padding: 0;
		list-style-type: none;
		color: $grey;
		a {
			color: $grey;
			font-size: 18px;
			&:hover {
				color: $white;
			}
		}
	}
	p, i {
		color: $grey;
	}
	hr {
		background-color: $white;
	}

	/*SOCIAL ICONS START */
	.list-inline-item {
		a {
			background-color: $white;
			border-radius: 50%;
			padding: 7px 11px 7px 11px;
		}
	}
	.ex1, .socials {
		text-align: center;
	}
	.ex1{
		i {
			margin: 0 20px;
			color: #333;
			cursor: pointer;
		}
	} 
	.socials{
		i {
			margin: 0 20px;
			color: #333;
			cursor: pointer;
		}		
	} 
	.socials {
		i{
			&:hover {
				color: $white;/*color: #ef43a1;*/
				@include animate(all, .6s);
				@include transform( translateY(-10px) );
			}
		}
	}
	/*SOCIAL ICONS END */

	@media (min-width: $sm){
		.footer-style {
			display: flex;
			justify-content: flex-end;
		}	
	}
	@media (max-width: $xs){
		.socials{
			i{
				margin: 0 20px 10px 20px;
			}
		}
	}
}