.header {
    background-attachment: fixed;/*height: 100%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-bottom: 50px;
    width: 100%;
    @include flexbox();
    @extend %flex-direction-column;
    @extend %justify-content-center;
    @extend %align-items-center;
    h1 {
    	text-align: center;
        text-transform: uppercase;
        @include animate(all, .3s);
/*        &:hover {
            @include transform(scale(1.5));
        }*/
    }
    h2 {
        font-size: 65px;
        font-weight: 900; 
    }
    h4 {
    	text-align: center;
    }
}

.navbar-name {
    img {
        height: 40px;
        width: 40px;
    }
}